#side li.external {
    color: #7fade6
}

input {
    border: 1px solid #aaa;
    padding: 4px 10px;
    font: 16px/24px Georgia;
}

input:read-only {
    color: #276bbf;
    text-decoration: underline;
    cursor: pointer;
    user-select: none;
    -webkit-user-select: none;
}

input:disabled {
    color: #aaa;
    cursor: default;
}

input.invalid {
    border-color: #c00;
}

input.invalid:focus {
    outline-color: #c00;
}

@keyframes blink {
    0%{ outline-color: red; }
    50% { outline-color: white; }
    100%{ outline-color: red; }
}

@-webkit-keyframes blink {
    0%{ outline-color: red; }
    50% { outline-color: white; }
    100%{ outline-color: red; }
}

.blink {
    outline: red auto 5px;
    animation: blink 0.5s linear infinite;
    -webkit-animation: blink 0.5s linear infinite;
}